* {
  box-sizing: border-box;
}

.apply-wrapper {
  background-color: #0086FF;
}

.contain {
  width: 600px;
  margin: auto;
}

@media (max-width: 600px) {
  .contain {
    width: 90%;
  }
}

.apply-wrapper h3,
ul {
  margin: 0;
  background-color: #0086FF;
  color: #FFF;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.apply-wrapper h3 {
  padding-bottom: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
}

input,
textarea,
button {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: #000;
}

.wrapper {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background-color: #0086FF;
}

.wrapper > * {
  padding: 1em;
}

@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  background: #4b5195;
  color: #fff;
}

.form {
  background: #fff;
}

.apply-wrapper form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  background-color: #0086FF;
}

.apply-wrapper form label {
  display: block;
  color: #FFF;
  font-size: 20px;
  font-family: 'Lato'
}

form p {
  margin: 0;
}

.resume-input {
  margin-top: 10px;
  background-color: #FFF;
  color: #626262;
  font-size: 14px;
}

.full-width {
  grid-column: 1 / 3;
}

button,
input,
textarea {
  padding: 1em;
}

button {
  display: inline-block;
  background-image: linear-gradient(-60deg, #19BAAA 0%, #25A7B9 100%);
  font-weight: 700;
  font-size: 24px;
  color: #FFF;
  margin: auto;
  border: none;
  margin-bottom: 100px;
}

button:hover, button:focus {
  text-decoration: none;
  color: #FFFFFF;
  transform: translateY(-2px);
  outline: 0;
  cursor: pointer;
}
